*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.8rem;
}
:root{
    --azulmenu: #00BFFF;
    --letras1: #0000CD;
    --letras2: #000000;
    --cinzacorpo: #F2F2F2;
    --braver:  #00FF00	;
    --bouncer: #7CFC00;
    --waker: #ff8c00;
    --hunter: #ff6961;
    --fighter: #bf40bf;
    --ranger: #9090ff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulmenu);
    padding: 1rem;
}
.md-48{
    font-size: 48px;
    color: var(--letras2);
}
nav{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 27%;
    height: 30vh;
    position: absolute;
    right: 0;
    padding: 35% 24px 10% 0;    
    text-align: right;
    background-color: var(--azulmenu);
    line-height: 2rem;
}
ul{
    list-style-type: none;
}
.titulo{
    font-size: 0.9rem;
    color: var(--letras2);

}
img{
    width: 96%;
     border-radius: 15px;
    margin: 2%;
}
.primeiroh1{
    color:var(--letras1);
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.primeiro_texto{
    margin: 3%;
    padding: 0%;
    font-size: 1.1rem;
}
.pcorazul{
    color: var(--letras1);
    
}
.video iframe{
    width: 342px;
    height: 200px;
    margin: 8%;
   display: flex;
   padding: 1%;
}
.carousel-item{
   margin: 0%;
   display: flex;
   padding: 24px;
   align-items: center;
}
.titulo_historia{
    color: var(--letras1);
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    margin: 6%;
}
.texto_historia{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
}
.todas_classes{
    padding: 1%;
    font-size: 1.4rem;
    color: var(--letras1);
    text-align: center;
    text-decoration: underline;
    line-height: 4rem;
}
.titutlo_class h3{
    margin: 3%;
    padding: 1%;
    color:var(--letras1);
    font-size: 1.3rem;
    text-align: center;
}
.hunter{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--hunter);
   margin: 10px;
}
.hunter .estilo_class{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
}
.fighter{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--fighter);
   margin: 10px;
}
.fighter p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
} 
.ranger{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--ranger);
   margin: 10px;
}
.ranger p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
} 
.braver{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--braver);
   margin: 10px;
}
.braver p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
}
.bouncer{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--bouncer);
   margin: 10px;
}
.bouncer p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
}
.waker{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--waker);
   margin: 10px;
}
.waker p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
}
.jogo{
    color: var(--letras1);
    text-align: center;
    font-size: 1.4rem;
    margin: 0%;
}
.logo{
    background: var(--cinzacorpo);
}
.imgps4{
    margin-left: 8%;
     width: 10%; 
}
.imgsteam{
    margin-left: 24%;
    width: 10%; 
}
.imgxbox{
    margin-left: 24%;
     width: 10%; 
}
.rodape{
    background-color: var(--azulmenu);
    justify-content: center;
    font-size: 1rem;
    display: flex; 
    margin: 0%;
    padding: 0%;
}




@media screen and (min-width: 1024px)
{

    #botao_menu{
        display: none;
    }

    nav{
        display: block;
        position: relative;
        z-index: 0;
        width: auto;
        padding: 0;
        text-align: right;
        background-color: var(--laranja-claro);
    }

    li{
        display: inline;
        margin-left: 24px;
    }

    #botao_fechar{
        display: none;
    }
    

    .card_servico{
        text-align: left;
    }

    .card_servico_conteudo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


