*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.8rem;
}
:root{
    --azulmenu: #00BFFF;
    --letras1: #0000CD;
    --letras2: #000000;
    --cinzacorpo: #bdbebd;
    --braver:  #00FF00	;
    --bouncer: #7CFC00;
    --waker: #ff8c00;
    --hunter: #ff6961;
    --fighter: #bf40bf;
    --ranger: #9090ff;
    --gunner: #add8e6; 
    --force: #ffff00;
    --techter: #cccc00;
}
main{
    background:var(--cinzacorpo)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulmenu);
    padding: 1rem;
}
.md-48{
    font-size: 48px;
    color: var(--letras2);
}
nav{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 40vh;
    position: absolute;
    right: 0;
    padding: 43% 24px 10% 0;    
    text-align: right;
    background-color: var(--azulmenu);
    line-height: 2rem;
}
ul{
    list-style-type: none;
}
.titulo{
    font-size: 0.9rem;
    color: var(--letras2);

}
img{
    width: 96%;
     border-radius: 15px;
    margin: 2%;
}
.primeiroh1{
    color:var(--letras1);
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.primeiro_texto{
    margin: 3%;
    padding: 0%;
    font-size: 1.1rem;
}
.pcorazul{
    color: var(--letras1);
    
}
.video iframe{
    width: 350px;
    height: 210px;
   display: flex;
   padding: 6px;
   margin: 24px;
}
.carousel-item{
   margin: 0%;
   display: flex;
   padding: 24px;
   justify-content: center;
}
.titulo_historia{
    color: var(--letras1);
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.texto_historia p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
}
.todas_classes{
    padding: 1%;
    font-size: 1.4rem;
    color: var(--letras1);
    text-align: center;
    text-decoration: underline;
    line-height: 4rem;
}
.titutlo_class h3{
    margin: 3%;
    padding: 1%;
    color:var(--letras1);
    font-size: 1.3rem;
    text-align: center;
}
.hunter{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--hunter);
   margin: 10px;
   text-align: left;
}
.hunter .estilo_class{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
    text-align: left;
}
.fighter{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--fighter);
   margin: 10px;
   text-align: left;
}
.fighter p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
} 
.ranger{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--ranger);
   margin: 10px;
   text-align: left;
}
.ranger p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
} 
.gunner{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--gunner);
   margin: 10px;
   text-align: left;
}
.gunner p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
} 
.force{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--force);
   margin: 10px;
   text-align: left;
}
.force p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
} 
.techter{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--techter);
   margin: 10px;
   text-align: left;
}
.techter p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    text-align: left;
} 
.braver{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--braver);
   margin: 10px;
   text-align: left;
}
.braver p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
    text-align: left;
}
.bouncer{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--bouncer);
   margin: 10px;
   text-align: left;
}
.bouncer p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
    text-align: left;
}
.waker{
    box-shadow: 0 4px 18px black;
    border-radius: 20px;
   background: var(--waker);
   margin: 10px;
   text-align: left;
}
.waker p{
    margin: 3%;
    padding: 1%;
    font-size: 1.1rem;
    display: flex;
    line-height: 1.6rem;
    text-align: left;
}
.texto_historia .texto-logo{
    color: var(--letras1);
}
.jogo{
    color: var(--letras1);
    text-align: center;
    font-size: 1.4rem;
    margin: 0%;
}
.logo{
    background: var(--cinzacorpo);
}
.imgps4{
    margin-left: 8%;
     width: 10%; 
}
.imgsteam{
    margin-left: 24%;
    width: 10%; 
}
.imgxbox{
    margin-left: 24%;
     width: 10%; 
}
.rodape{
    background-color: var(--azulmenu);
    justify-content: center;
    font-size: 1rem;
    display: flex; 
    margin: 0%;
    padding: 0%;
}


@media screen and (min-width: 1024px)
{
    body{
        overflow-x: hidden;
    }
    #botao_menu{
        display: none;
    }

    nav{
        display: contents;
        position: relative;
        z-index: 0;
        width: auto;
        padding: 0;
        text-align: right;
        background-color: var(--azulmenu);
    }

    li{
        display: inline;
        margin-left: 24px;
    }

    #botao_fechar{
        display: none;
    }
    .titulo{
        font-size: 1.4rem;
    }
    #inicio img{
        width: 98%;
        border-radius: 24px;
        justify-content: center;
        margin: 0 13px;
    
    }
    .primeiroh1{
        margin: 2% 0 0% 0%;
    }
    .pcorazul{
      margin-right: 52%;
      margin-left: 5%;
      padding: 0;
    }
    .primeiro_texto p{
        margin-right: 52%;
        margin-left: 5%;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .video iframe{
        width: 520px;
        height: 300px;
        display: flex;
        float: right;
        margin: 0;
        padding: 0;
    }
    .carrosel1 {
        width: 50%;
        justify-content: center;
        display: flex;
        margin: 0 auto;
     }

    .titulo_historia{   
         width: 100%;
        display: flex;
         flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;
    
     }
     .texto_historia{
       margin: 0;
        padding: 0;   
     }
     #button{
        color: var(--letras2);
     }
     .carrosel2{
        width: 50%;
        justify-content: center;
        margin: 0 auto;
        display: flex;
     }
     .hunter{
        padding: 0px;
        margin: 0 22% 0 23%; 
        text-align: left;
     }
     .fighter{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .ranger{
        margin: 0 22% 0 23%; 
        padding: 0; 
        text-align: left;
     }
     .gunner{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .force{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .techter{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .braver{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .bouncer{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
     .waker{
        margin: 0 22% 0 23%; 
        padding: 0;
        text-align: left;
     }
    .tudo{
        display: inline-block;    
    }

    #baixar .texto_historia{
        display: flex;
         flex-direction: column;
        align-items:center;
        margin: 0px;
        padding: 0%;
    }
    .texto_historia .texto-logo{
        display: flex;
        justify-content: center;
        margin: 0% 0px 25px 0px;
        padding: 0%;
    }
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 7rem;
    }
}


